body {
    font-size: 15px;
    height: 100%;
}

.chat-container {
    display: flex;
}

.friend-list {
    flex: 0 0 15rem;
    background-color: pink;
    height: 100vh;
}

.friend-btn {
    width: 100%;
    border: 0;
    padding: 0.8rem;
    margin: 0.1rem 0;
    cursor: pointer;
    background-color: #addae6;
    color: #464646;
    text-transform: uppercase;
}

.friend-selected {
    background-color: #74b2c4;
}

.friend-btn:hover {
    background-color: #74b2c4;
}

.chat-window {
    padding: 0 0.4rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    max-height: 100vh;
}

ul.message-list {
    list-style-type: none;
    padding-inline-start: 0;
    overflow-x: scroll;
    overflow-y: auto;
    width: 100%;
}

.message {
    background-color: #addae6;
    color: #464646;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    padding: 0.4rem;
    float: right;
    clear: both;
}

.message-form {
    width: 100%;
    display: flex;
}

.message-input {
    flex: 1 1 auto;
}

.send-message {
    flex: 0 0 2rem;
}

.message-input,
.send-message {
    padding: 0.5rem;
    border-radius: 0;
    border: 1px solid #464646;
}
