body {
    font-size: 15px;
    height: 100%;
    color: #464646;
}

.chat-container {
    display: flex;
}

.hamburger-icon {
    display: none;
}

.friends-title {
    text-align: center;
    background-color: #f4f4f4;
}

.friend-list {
    flex: 0 0 15rem;
    background-color: #f4f4f4;
    height: 100vh;
}

.friend-btn {
    width: 100%;
    border: 0;
    padding: 0.8rem;
    margin: 0.1rem 0;
    cursor: pointer;
    background-color: #addae6;
    text-transform: uppercase;
    font-weight: bold;
    color: #464646;
}

.friend-selected,
.friend-btn:hover {
    background-color: #74b2c4;
}

.friend-form {
    width: 80% !important;
    padding: 1rem;
    margin: auto;
}

.new-friend {
    padding-left: 0.5rem !important;
}

.chat-window {
    padding: 0 0.4rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    max-height: 100vh;
}

ul.message-list {
    list-style-type: none;
    padding-inline-start: 0;
    overflow-x: scroll;
    overflow-y: auto;
    width: 100%;
    margin: 0;
}

.message {
    background-color: #addae6;
    border-radius: 20px;
    margin: 0 1rem 0 1rem;
    padding: 0.4rem 0.8rem;
    float: right;
    clear: both;
}

.msg-date {
    float: right;
    clear: both;
    margin: 0.2rem 1.2rem 1rem 0;
    color: #bababa;
    font-size: 0.5rem;
}

.no-message {
    text-align: center;
    color: #bababa;
    font-size: 0.8rem;
    width: 100%;
}

.message-form {
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
    position: relative;
}

.message-input,
.new-friend {
    flex: 1 1 auto;
    border-radius: 20px 0 0 20px;
    border-right: 0 !important;
}

.send-message {
    flex: 0 0 2rem;
    color: #74b2c4;
    padding-right: 0.8rem !important;
    padding-left: 0.5rem !important;
    cursor: pointer;
    border-left: 0 !important;
    border-radius: 0 20px 20px 0;
    background-color: #fff;
    font-size: 1.2rem;
}

.send-message:hover {
    color: #addae6;
}

.message-input,
.send-message,
.new-friend {
    padding: 0.5rem 0.5rem 0.5rem 2.2rem;
    border: 1px solid #464646;
}

.open-emojis {
    color: #ffcb4c;
    font-size: 1.5rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
    border: 0;
    background: none;
    padding: 0;
}

.emoji-picker {
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
}

.hidden {
    display: none;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .chat-container {
        display: block;
    }

    .hamburger-icon {
        display: block;
        position: absolute;
        left: 1rem;
        top: 1rem;
        border: 0;
        font-size: 2rem;
        background: none;
    }

    .friends-title {
        height: 3rem;
        margin: 0;
        padding-top: 1rem;
    }

    .friend-list {
        height: auto;
    }

    .friends-buttons {
        height: auto;
        max-height: 150px;
        overflow: scroll;
        position: absolute;
        width: 100%;
        background-color: #f4f4f4;
    }

    .chat-window {
        height: calc(100vh - 4rem);
    }

    .hidden-mobile {
        display: none;
    }
}
